.chat {
  height: 54vh;
  &__box {
    height: 42.8vh;
    padding: 3vh 3vw;
    &-message {
      display: flex;
      font-size: 14px;
      .username {
        font-weight: bold;
        margin-right: 4vw;
      }
      .message {
        overflow-wrap: break-word;
      }
    }
  }
  &__input {
    .input {
      padding: 0 2vw;
      height: 5vh;
      width: 86.7vw;
      background-color: rgba(0, 0, 0, 0.1);
      border: 0.1vw solid rgba(0, 0, 0, 0.2);
      border-right: none;
    }
    .button {
      height: 5.2vh;
      width: 9vw;
      background-color: rgba(0, 0, 0, 0.1);
      border: 0.1vw solid rgba(0, 0, 0, 0.2);
      border-left: none;
      .paper-plain {
        font-size: 14px;
        color: rgba(0, 0, 0, 0.5);
      }
    }
  }
}

.login {
  &__form {
    height: 32vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 11vh 13vw;
    &-title {
      font-size: 20px;
    }
    .form-group {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: center;
      position: relative;
      input {
        border: none;
        border-bottom: 1px solid rgba(145, 71, 255, 0.2);
        height: 24px;
        padding: 0 5px;
        transition: 0.3s ease all;
        &:focus {
          border-bottom: 1px solid rgba(145, 71, 255, 0.8);
        }
        &:focus ~ label,
        &:valid ~ label {
          letter-spacing: 1px;
          top: -15px;
          font-size: 10px;
        }
      }
      label {
        letter-spacing: 1.5px;
        text-transform: uppercase;
        position: absolute;
        pointer-events: none;
        left: 5px;
        top: 5px;
        font-size: 12px;
        transition: 0.3s ease all;
      }
    }
    &-button {
      width: 135px;
      background-color: #9147ff;
      color: white;
      border: 1px solid #9147ff;
      border-radius: 5px;
      padding: 6px 0px;
      font-weight: 700;
      &:disabled {
        background-color: rgba(19, 1, 1, 0.3);
        border: 1px solid rgba(19, 1, 1, 0.3);
        color: #666666;
      }
    }
  }
}
