.header {
  height: 8vh;
  .nav {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &__left,
    &__right {
      display: flex;
      align-items: center;
    }
    &__left {
      &-item {
        &.twitch {
          margin-left: 10px;
          font-size: 31px;
          color: #9147ff;
        }
        &.discover {
          font-size: 24px;
          margin-left: 20px;
        }
      }
    }
    &__right {
      &-item {
        margin-right: 20px;
        &.button {
          width: 135px;
          background-color: #9147ff;
          color: white;
          border: 1px solid #9147ff;
          border-radius: 5px;
          padding: 6px 0px;
          font-weight: 700;
        }
        &.search,
        &.dots {
          font-size: 18px;
        }
      }
    }
  }
}
