.error {
  height: 80vh;
  width: 80vw;
  padding: 10vh 10vw;
  &__img {
    width: 80vw;
    height: 36vh;
    img {
      width: 100%;
      max-height: 100%;
    }
  }
  &__text {
    padding: 10vh 0;
    text-align: center;
  }
  &__button {
    width: 135px;
    background-color: #9147ff;
    border: 1px solid #9147ff;
    border-radius: 5px;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    &-link {
      color: white;
      padding: 6px 0px;
    }
  }
}
